<template>
  <v-container fluid class="fill-height align-content-start">
    <template v-if="user">
      <AddUser />

      <v-row no-gutters>
        <template v-if="list && list.length > 0">
          <v-col v-for="(person, i) in list" :key="i" sm="12" md="4" lg="2" xl="1">
            <v-card outlined tile class="ma-2" :to="{ name: 'Person', params: { id: person.id } }">
              <v-img :src="person.avatar_url" class="white--text align-end">
                <v-card-title>{{ person.name }}</v-card-title>
              </v-img>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn icon @click.prevent.stop="removePerson(i)">
                  <v-icon>{{ mdiDelete }}</v-icon>
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </template>
        <template v-else>
          <InfoIllustration src="svg/undraw_data_trends_b0wg.svg">
            Add someone to see their data
          </InfoIllustration>
        </template>
      </v-row>
    </template>
    <template v-else>
      <InfoIllustration src="svg/undraw_two_factor_authentication_namy.svg" @click="startLogin">
        To start using the dashboard login with GitLab
      </InfoIllustration>
    </template>
  </v-container>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import { mdiDelete } from '@mdi/js';

import AddUser from '@/components/AddUser';
import InfoIllustration from '@/components/InfoIllustration';

export default {
  name: 'Home',
  components: { AddUser, InfoIllustration },
  data: () => ({
    mdiDelete,
  }),
  computed: {
    ...mapState('people', ['list']),
    ...mapState('auth', ['user']),
  },
  methods: {
    ...mapActions('people', ['removePerson']),
    ...mapActions('auth', ['startLogin']),
  },
};
</script>
