<template>
  <v-container fluid class="d-flex justify-center align-center fill-height">
    <v-progress-circular :size="100" color="primary" indeterminate></v-progress-circular>
  </v-container>
</template>
<script>
import { mapActions } from 'vuex';
export default {
  name: 'Oauth',

  async mounted() {
    const urlParams = new URLSearchParams(this.$route.hash.replace('#', '?'));
    if (urlParams.has('access_token')) {
      this.setAccessToken(urlParams.get('access_token'));
    }
    await this.fetchUser();
    this.$router.replace('/');
  },
  methods: {
    ...mapActions({
      setAccessToken: 'auth/setAccessToken',
      fetchUser: 'auth/fetchUser',
    }),
  },
  render() {
    return null;
  },
};
</script>
