<template>
  <v-container fluid class="fill-height align-content-start">
    <template v-if="person">
      <v-row>
        <v-col cols="4" sm="2" md="1">
          <v-avatar size="72px" tile>
            <v-img alt="Avatar" :src="person.avatar_url" />
          </v-avatar>
        </v-col>
        <v-col>
          <h3>{{ person.name }}</h3>
          <p>
            @{{ person.username }}
            <OpenLink :href="person.web_url" />
          </p>
        </v-col>
        <v-col>
          <h3>Issues</h3>
          <p v-if="person.statistics">
            <v-icon color="secondary">{{ mdiSigma }}</v-icon> {{ person.statistics.counts.all }}
            <v-icon color="success">{{ mdiLock }}</v-icon> {{ person.statistics.counts.closed }}
            <v-icon color="info">{{ mdiLockOpen }}</v-icon> {{ person.statistics.counts.opened }}
          </p>
        </v-col>
        <v-spacer></v-spacer>
      </v-row>
      <v-row>
        <v-col>
          <v-tabs grow v-model="selectedTab">
            <v-tab>
              <v-icon left>{{ mdiViewComfy }}</v-icon>
              Overview
            </v-tab>
            <v-tab>
              <v-icon left>{{ mdiAlertCircleOutline }}</v-icon>
              Issues
            </v-tab>
            <v-tab>
              <v-icon left>{{ mdiAlertCircleOutline }}</v-icon>
              Merge Requests
            </v-tab>
            <v-tab>
              <v-icon left>{{ mdiTimeline }}</v-icon>
              Timeline
            </v-tab>

            <v-tab-item>
              <Overview :person="person" :latest-updated="timeline[0]" />
            </v-tab-item>
            <v-tab-item>
              <Issues :issues="person.issues" />
            </v-tab-item>
            <v-tab-item>
              <Mrs :mrs="person.mrs" />
            </v-tab-item>
            <v-tab-item>
              <Timeline :timeline="timeline" />
            </v-tab-item>
          </v-tabs>
        </v-col>
      </v-row>
    </template>
  </v-container>
</template>

<script>
import { createNamespacedHelpers } from 'vuex';
import Timeline from '@/components/Timeline';
import Issues from '@/components/Issues';
import Mrs from '@/components/Mrs';
import Overview from '@/components/Overview';
import OpenLink from '@/components/OpenLink';

import {
  mdiViewComfy,
  mdiAlertCircleOutline,
  mdiTimeline,
  mdiLockOpen,
  mdiSigma,
  mdiLock,
} from '@mdi/js';

const { mapGetters, mapActions } = createNamespacedHelpers('people');

export default {
  name: 'Person',
  components: { Timeline, Issues, Overview, OpenLink, Mrs },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      vm.fetchPersonDetails(to.params.id);
    });
  },
  data: () => ({
    selectedTab: 0,
    mdiViewComfy,
    mdiAlertCircleOutline,
    mdiTimeline,
    mdiLockOpen,
    mdiSigma,
    mdiLock,
  }),
  computed: {
    ...mapGetters(['getPersonDetails', 'getTimelineData']),
    person() {
      return this.getPersonDetails(this.$route.params.id);
    },
    timeline() {
      return this.getTimelineData(this.$route.params.id);
    },
  },
  methods: {
    ...mapActions(['fetchPersonDetails']),
  },
};
</script>
