<template>
  <v-card class="pa-4" flat>
    <v-toolbar dense floating>
      <v-autocomplete
        v-model="selection"
        :loading="isLoading"
        :items="availableUsers"
        :filter="() => true"
        :search-input.sync="search"
        :prepend-inner-icon="mdiAccountSearch"
        item-text="username"
        item-value="username"
        flat
        dense
        hide-details
        return-object
        solo
      >
        <template #selection="data">
          <v-chip v-bind="data.attrs" :input-value="data.selected">
            <v-avatar left>
              <v-img :src="data.item.avatar_url"></v-img>
            </v-avatar>
            {{ data.item.username }}
          </v-chip>
        </template>
        <template #item="{ item }">
          <v-list-item-avatar>
            <img :src="item.avatar_url" />
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title v-html="item.username"></v-list-item-title>
            <v-list-item-subtitle v-html="item.name"></v-list-item-subtitle>
          </v-list-item-content>
        </template>
      </v-autocomplete>
      <v-btn @click="add" :disabled="!selection">Add</v-btn>
    </v-toolbar>
  </v-card>
</template>

<script>
import { mdiAccountSearch } from '@mdi/js';
import { createNamespacedHelpers } from 'vuex';

import axios from '@/plugins/axios';

const { mapActions, mapState } = createNamespacedHelpers('people');

export default {
  data: () => ({
    mdiAccountSearch,
    users: [],
    isLoading: false,
    search: null,
    selection: null,
  }),
  computed: {
    ...mapState(['list']),
    availableUsers() {
      return this.users.filter(u => !this.list.find(p => p.username === u.username));
    },
  },
  watch: {
    search(val) {
      if (val) {
        this.searchPeople(val);
      }
    },
  },
  methods: {
    ...mapActions(['addPerson']),
    async searchPeople(search) {
      this.isLoading = true;
      const { data } = await axios.get('/search', { params: { scope: 'users', search } });
      this.users = data;
      this.isLoading = false;
    },
    add() {
      this.addPerson(this.selection);
      this.selection = null;
      this.seartch = null;
    },
  },
};
</script>

<style lang="scss"></style>
