<template>
  <v-row no-gutters>
    <v-spacer />
    <v-col cols>
      <v-card v-on="$listeners">
        <v-img
          :src="src"
          class="align-end"
          gradient="to top, rgba(0,0,0,.1), rgba(0,0,0,.3)"
          height="50vh"
          contain
        >
          <v-card-title><slot></slot></v-card-title>
        </v-img>
      </v-card>
    </v-col>
    <v-spacer />
  </v-row>
</template>

<script>
export default {
  props: {
    src: {
      type: String,
      required: true,
    },
  },
};
</script>

<style></style>
