<template>
  <div>
    <v-toolbar class="my-3">
      <v-toolbar-title>Filters</v-toolbar-title>
      <v-select
        v-model="issueStatus"
        :items="['opened', 'closed', 'all']"
        label="Issue status"
        color="primary"
        class="ml-2"
        hide-details
      />
      <v-select
        v-model="sortBy"
        :items="['created_at', 'updated_at']"
        label="Sort by"
        color="primary"
        class="ml-2"
        hide-details
      />
      <v-select
        v-model="sortOrder"
        :items="['ascending', 'descending']"
        label="Sort order"
        color="primary"
        class="ml-2"
        hide-details
      />
      <v-select
        v-model="milestone"
        :items="milestones"
        item-text="title"
        item-value="id"
        label="Milestone"
        multiple
        color="primary"
        class="ml-2"
        hide-details
      />
      <v-spacer></v-spacer>
    </v-toolbar>

    <v-row>
      <v-col cols="4" v-for="issue in orderedIssues" :key="issue.id">
        <v-card elevation="2" class="mb-2">
          <v-card-title>
            {{ issue.title }}
          </v-card-title>

          <v-card-text>
            <v-chip v-for="label in issue.labels" :key="label" class="mr-1 mb-1" small>
              {{ label }}
            </v-chip>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <OpenLink :href="issue.web_url" />
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { sortBy, reverse, uniqBy } from 'lodash';
import OpenLink from '@/components/OpenLink';

export default {
  components: { OpenLink },
  props: {
    issues: {
      type: Array,
      required: true,
    },
  },
  data: () => ({
    issueStatus: 'opened',
    sortBy: 'created_at',
    sortOrder: 'descending',
    milestone: [],
  }),
  computed: {
    filteredIssues() {
      if (this.issueStatus !== 'all') {
        return this.issues.filter(
          i =>
            i.state === this.issueStatus &&
            (this.milestone.length === 0 || this.milestone.includes(i?.milestone?.id)),
        );
      }
      return this.issues;
    },
    orderedIssues() {
      const ordered = sortBy(this.filteredIssues, this.sortBy);
      return this.sortOrder === 'descending' ? reverse(ordered) : ordered;
    },
    milestones() {
      const milestones = this.issues.reduce((a, c) => {
        if (c?.milestone?.title) {
          a.push(c.milestone);
        }
        return a;
      }, []);
      return uniqBy(milestones, 'title');
    },
  },
};
</script>

<style></style>
