<template>
  <v-row>
    <v-col cols="4" v-for="mr in orderedMrs" :key="mr.id">
      <v-card elevation="2" class="mb-2">
        <v-card-title>
          {{ mr.title }}
        </v-card-title>

        <v-card-text>
          <v-chip v-for="label in mr.labels" :key="label" class="mr-1 mb-1" small>
            {{ label }}
          </v-chip>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <OpenLink :href="mr.web_url" />
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import { orderBy } from 'lodash';
import OpenLink from '@/components/OpenLink';

export default {
  components: { OpenLink },
  props: {
    mrs: {
      type: Array,
      required: true,
    },
  },
  data: () => ({
    orderBy: 'created_at',
    sortOrder: 'desc',
  }),
  computed: {
    orderedMrs() {
      return orderBy(this.mrs, this.orderBy, this.sortOrder);
    },
  },
};
</script>

<style></style>
