<template>
  <v-btn tile color="secondary" icon x-small target="_blank" :href="href">
    <v-icon>{{ mdiOpenInNew }}</v-icon>
  </v-btn>
</template>

<script>
import { mdiOpenInNew } from '@mdi/js';
export default {
  props: {
    href: {
      type: String,
      required: true,
    },
  },
  data: () => ({ mdiOpenInNew }),
};
</script>

<style></style>
