<template>
  <v-col colls="3">
    <v-card tile elevation="3" :href="href" target="_blank">
      <v-card-title>
        <slot name="title"></slot>
      </v-card-title>
      <v-card-text>
        <slot />
      </v-card-text>
    </v-card>
  </v-col>
</template>

<script>
export default {
  props: {
    href: {
      type: String,
      required: false,
      default: null,
    },
  },
};
</script>

<style></style>
