<template>
  <v-row>
    <OverviewTile v-if="latestUpdated" :href="latestUpdated.issue.link">
      <template #title>
        Latest update
      </template>
      <vue-markdown>{{ latestUpdated.body }}</vue-markdown>
    </OverviewTile>
    <OverviewTile v-if="latestIssue" :href="latestIssue.web_url">
      <template #title>
        Latest updated issue
      </template>
      {{ latestIssue.title }}
    </OverviewTile>
    <OverviewTile v-if="latestMr" :href="latestMr.web_url">
      <template #title>
        Latest updated MR
      </template>
      {{ latestMr.title }}
    </OverviewTile>
  </v-row>
</template>

<script>
import { orderBy } from 'lodash';
import OverviewTile from '@/components/OverviewTile';
import VueMarkdown from 'vue-markdown';
export default {
  components: {
    OverviewTile,
    VueMarkdown,
  },
  props: {
    person: {
      type: Object,
    },
    latestUpdated: {
      type: Object,
      required: false,
      default: null,
    },
  },
  computed: {
    latestIssue() {
      const sorted = orderBy(this.person.issues, 'updated_at', 'desc');
      return sorted[0];
    },
    latestMr() {
      const sorted = orderBy(this.person.mrs, 'updated_at', 'desc');
      return sorted[0];
    },
  },
};
</script>

<style></style>
