<template>
  <v-timeline>
    <v-timeline-item v-for="(item, i) in timeline" :key="i">
      <v-card elevation="2">
        <v-card-title>
          {{ formatTime(item.updated_at) }}
        </v-card-title>
        <v-card-subtitle>
          {{ item.issue.title }}
          <OpenLink :href="item.issue.link" />
        </v-card-subtitle>
        <div class="pa-2">
          <vue-markdown>{{ item.body }}</vue-markdown>
        </div>
      </v-card>
    </v-timeline-item>
  </v-timeline>
</template>
<script>
import VueMarkdown from 'vue-markdown';
import { format } from 'date-fns';

import OpenLink from '@/components/OpenLink';
export default {
  components: { VueMarkdown, OpenLink },
  data: () => ({}),
  props: {
    timeline: {
      type: Array,
      required: true,
    },
  },
  methods: {
    formatTime(timeString) {
      return format(new Date(timeString), 'EEEEEE do MMM yyyy - HH:mm:ss');
    },
  },
};
</script>

<style></style>
