<template>
  <v-app>
    <v-app-bar app color="primary" dark>
      <v-app-bar-nav-icon @click="sideBar = !sideBar"></v-app-bar-nav-icon>
      <v-spacer> </v-spacer>
      <v-btn v-if="!user" @click="login">Login</v-btn>
      <template v-else>
        <v-menu right bottom offset-y="">
          <template v-slot:activator="{ on, attrs }">
            <v-btn v-bind="attrs" v-on="on">
              <v-avatar size="36px">
                <v-img alt="Avatar" :src="user.avatar_url" />
              </v-avatar>
              <span class="ml-2">{{ user.username }}</span>
            </v-btn>
          </template>

          <v-list>
            <v-list-item @click="logout">
              <v-list-item-title>Logout</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </template>
    </v-app-bar>
    <v-navigation-drawer app v-model="sideBar" color="primary" dark>
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title class="title">
            Async Dash
          </v-list-item-title>
          <v-list-item-subtitle>
            Sprint with your team
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
      <v-list-item to="/">
        <v-list-item-title>Home</v-list-item-title>
      </v-list-item>
    </v-navigation-drawer>
    <v-content>
      <router-view />
    </v-content>
  </v-app>
</template>

<script>
import { createNamespacedHelpers } from 'vuex';

const { mapState, mapActions } = createNamespacedHelpers('auth');

export default {
  name: 'App',

  data: () => ({
    sideBar: false,
  }),
  computed: {
    ...mapState(['user']),
  },
  methods: {
    ...mapActions({
      login: 'startLogin',
    }),
    logout() {
      window.localStorage.clear();
      window.location.reload();
    },
  },
};
</script>
